<nav id="sidebar">
    <div id="sidebar-header" class="sidebar-header">
        <h3>Links</h3>
    </div>
    <ul class="list-unstyled components">
      <li class="active">
          <a id="sidemenuintel" href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Intel</a>
          <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                  <a href="#">Almira</a>
              </li>
              <li>
                  <a href="#">ADS</a>
              </li>
              <li>
                  <a href="#">Autozilla</a>
              </li>
          </ul>
      </li>
      <li>
          <a id="sidemenuexcel" href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Excel</a>
          <ul class="collapse list-unstyled" id="pageSubmenu">
              <li>
                  <a href="#">Accounts</a>
              </li>
              <li>
                  <a href="#">Ratings</a>
              </li>
          </ul>
      </li>
      <li>
        <a id="sidemenutable" href="#tableSubmenu" data-toggle="collapse" aria-expanded="false">Table</a>
        <ul class="collapse list-unstyled" id="tableSubmenu">
            <li>
                <a href="#">Accounts</a>
            </li>
            <li>
              <a href="#">Events</a>
            </li>
            <li>
              <a href="#">Games</a>
            </li>
            <li>
                <a href="#">Ratings</a>
            </li>
        </ul>
    </li>
  </ul>
</nav>
