
<main id="main-content">
    <div id="main-content-header" class="main-content-header">
        <p>Game and Account Search</p>
    </div>
    <div id="main-content-wrapper" class="main-content-wrapper">
        <div id="search-bar-div" class="search-bar-div">
            <form action="table.html" method="GET">
                <input id="SearchBar" name="Game" type="search" placeholder="Search for Accounts or Games">
                <ul id="autocomplete-results">
                    <!-- Search Results go here -->
                </ul>
            </form>
        </div>
    </div>
</main>
