
<main id="main-content">
  <div id="main-content-header" class="main-content-header">
      <p>Games</p>
  </div>
  <div id="main-content-wrapper" class="main-content-wrapper">
      <div id="items-content-wrapper" class="items-content-wrapper">
        <div id="table-header" class="row">
          <div id="show-entries" class="col-3">
              <select (change)="onChange($event.target.value)">
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="{{devices[4]}}">All</option>
              </select>
          </div>
          <div id="search-header" class="col-9">
              <div id="seach-table">
<input  id="table-search-bar" [(ngModel)]="searchText" placeholder="Search.." class="advancedSearchTextbox">
              </div>

          </div>
        </div>
    <table id="table" class="table">
      <thead class="test">
        <tr>
          <th>ID</th>
          <th>Title</th>
          <th>Platform</th>
          <th>Number of Accounts</th>
        </tr>
      </thead>
      <tbody>
          <tr class="gamerows" *ngFor="let game of allGames | filterTable: {GameTitle: searchText, Platform: searchText} | paginate: { itemsPerPage: numberToShow, currentPage: p };" >
            <td>{{game.Id}}</td>
            <td>{{game.GameTitle}}</td>
            <td>{{game.Platform}}</td>
            <td>{{game.NumberOfAccounts}}</td>
          </tr>
      </tbody>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </table>
    </div>
  </div>
</main>
