/* ---------------------------------------------------
    MAIN CONTENT STYLE

    - Dark Mode is only in the main content area
----------------------------------------------------- */
#main-content {
  transition: all 0.3s;
  height: max-content;
  top: 60px;
  position: relative;
  left: 0px;
  width: 100%;
}

/* Expand Main Content */
#main-content.expanded {
  width: calc(100% - 250px);
  left: 250px;
}

.main-content-header {
  background: white;
  color: black;
  border-bottom: 1px solid #ddd;
}


#main-content-header p {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
}

.main-content-wrapper {
  background-color: #ededed;
}

#items-content-wrapper {
  margin: 15px;
  border-radius: 5px;
  padding-bottom: 15px;
}

.items-content-wrapper {
  background-color: white;
}

// Table structure
th {
  font-weight: bold;
  background-color: lightblue;
}

tr:nth-child(odd) {
  background-color: #e5f2f7;
}

tr:nth-child(even) {
  background-color: #d2e9f0;
}

table, td, th {
  border: 1px solid black !important;
}
// Table Hover



// Table Click

#table-header {
  // background-color: red;
  margin-top: 10px;
  margin-bottom: 10px;
}

#seach-table {
  display: inline-block;
  float: right;
}

#table-info {
  display: inline-block;
  float: right;
  padding-right: 15px;

}


